<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Social Dashborad Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link rel="stylesheet"  integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

</head>
<body>
    
    <div class="itemWrapper">
        <h1>Dashborad</h1>
        <div class="itemContainer">
            <!-- item 1 -->
            <div class="item clearfix">
              <div class="itemContent">
                  <div class="itemContentItem">
                    <p>Total IDs: {{ totalCount }}</p>
                  </div>
                  <div class="overDiv">
                      <div class="itemContentTitle">
                          <h2>Use this for offers that<br>are relevant</h2>
                      </div>
                      <div class="itemContentInfo">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                      </div>
                      <div class="itemContentDownload">

                          <p class="itemBtn" routerLink="books">Books Listed</p>
                      </div>
                  </div>
              </div>
            </div>  
            <!-- item 2 -->
            <div class="item clearfix">
              <div class="itemContent">
                  <div class="itemContentItem">
                    <p>2</p>
                  </div>
                  <div class="overDiv">
                      <div class="itemContentTitle">
                          <h2>Use this for offers that<br>are relevant</h2>
                      </div>
                      <div class="itemContentInfo">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                      </div>
                      <div class="itemContentDownload">
                        <p class="itemBtn" routerLink="issued-books">Issued Books</p>
                      </div>
                  </div>
              </div>
            </div>  

        </div>
    </div>  
</body>
</html>

